In [ ]:
#

# SqlAlchemy and SqlModel
## Python ORM for db interactions
- Engine = dialect + DBAPI // location of DB
- Lazy initialization - meaning conn is active when the first task is performed
- Connectivity to the DB via .connect()
- Text is a way to run _STRING SQL QUERIES_
- Session is same as connection (connect/begin) just with ORM constructs

In [ ]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
# ENGINE a global object created just once for a particular database server
db_engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)
with db_engine.connect() as conn:
    conn.execute(text("create table sqla_table (id int, name varchar, price int, kitchen boolean)"))
    conn.commit()

In [ ]:
with db_engine.begin() as conn:
    conn.execute(text("Insert into sqla_table values (:id, :name, :price, :kitchen)").bindparams(id=4,name="Mouse",price=400,kitchen=False))
#     conn.execute(text("delete from sqla_table"))

In [ ]:
# Mapping relations in queries:: passing in parameters
# :var , {var: value} OR .bindparams(var=value) __only on case of text__
with db_engine.begin() as conn:
    result = conn.execute(text("select * from sqla_table where price> :query_price"), {"query_price": 48})
    for row in result:
        print(row)
        
with Session(db_engine) as sess:
    result = sess.execute(text("select * from sqla_table where price> :query_price").bindparams(query_price=20))
    for row in result:
        print(row)

In [ ]:
import sqlite3 as db

# Create a DataBase (connect)
# Refer existing or create a new db

# The in memory sqlite-db
con_mem = db.connect(':memory:')

# This is persistant
con = db.connect('sample.db')

In [ ]:
# Cursor tells sql-db what to do (cursor)
cur = con.cursor()

## Data Types in SQLite
* NULL
* INT
* REAL
* TEXT
* BLOB

In [ ]:
# Execute anything using execute through a cursor
cur.execute('''create table if not exists customer(name varchar(5), age int(3))''')

# Commit is important
con.commit()

# Close that conn
con.close()

>Insert 1 value into the db

In [ ]:
con = db.connect('sample.db')
c=con.cursor()
c.execute('''insert into customer values ('HI',99)''')
c.execute('''select * from customer''')
c.fetchall()

> Insert many values in the database

In [ ]:
many_values = [('m1',98),('m2',92),('m3',96),('m4',93)]
c.executemany("insert into customer values (?,?)", many_values)
con.commit()
c.execute('''select * from customer''')

print(c.fetchone())
print(c.fetchmany(4))
print(c.fetchall())

c.execute('''delete from customer''')
c.execute('''select * from customer''')

print(c.fetchone())
print(c.fetchmany(4))
print(c.fetchall())

In [ ]:
con.commit()
con.close()

In [ ]:
# con = db.connect('sample.db')
# c=con.cursor()
# c.execute('''
# select name 
# from sqlite_master 
# where type='table'and name not like 'sqlite_%' ''')